@import "chanel-sass-lib/library";
@import "normalize/normalize";

html, body {
	height: 100%;
	font-family: 'Cinzel', Georgia, Cambria, "Times New Roman", Times,serif;
	line-height: 1.5;
	font-size: 14px;

	ol, ul { list-style: none;}

	a { text-decoration: none;}

	p { font-family: Arial, 'LiHei Pro', "新細明體", sans-serif;}
}

@mixin navBar {
	position: absolute;
	right: 40px;
	top: 30px;
	height: 24px;
	overflow: hidden;

	li {
		float: left;
		display: inline-block;
		padding: 0 20px;
		font-size: 16px;

		a {
			color: #ffffff;

			&:hover {
				border-bottom: 2px solid #ffffff;
			}
		}
	}

	.here {
		background-color: #ffffff;
		@include radius(10px);
		height: 20px;
		line-height: 20px;
	}
}

#index, #CV, #autobiography, #product, #UX, #contact {
	position: relative;
	min-width: 1280px;

	.nav { @include navBar;}
}

#index {
	background: url(../images/index_bg.jpg) no-repeat fixed top left;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;

	.title {
		position: absolute;
		right: 220px;
		top: 200px;
		
		h1 {
			font-size: 60px;
			font-family: 'Gloria Hallelujah', cursive;
			margin: 0;
		}

		p {
			font-size: 20px;
			text-align: right;
			margin: 8px 0;
		}
	}
}

#CV, #autobiography {
	.articleWrap {
		position: absolute;
		width: 100%;
		top: 100px;

		.article {
			width: 740px;
			padding: 20px 40px;
			margin: 0 auto;
			background-color: #ffffff;
		}

		.download {
			margin: 30px auto;
			width: 820px;
			text-align: right;

			a {
				padding: 5px 10px;
				margin: 0 1px;
				background-color: #ffffff;
				color: #000000;
				font-family: Arial, 'LiHei Pro', 新細明體, sans-serif;

				&:hover {
					background-color: #bcbcbc;
					@include shadow(4px, 4px, 4px, 0, rgba(#969696, .6));
				}
			}
		}
	}
}

#CV {
	background: url(../images/wood.png) repeat top left;
	min-height: 1150px;

	.article {
		height: 910px;

		.top {
			position: relative;

			img {
				position: absolute;
				right: 0;
				top: 0;
				width: 42%;
			}

			h1 {
				border-bottom: 1px dotted #bcbcbc;
			}

			ul {
				padding-left: 0;
				margin: 6px 0;
				font-family: Arial, 'LiHei Pro', "新細明體", sans-serif;
			}

			p {
				font-style: italic;
			}
		}

		.bottom {
			margin-top: 40px;
			font-family: Arial, 'LiHei Pro', "新細明體", sans-serif;

			.group {
				overflow: hidden;
				width: 680px;
				margin: 15px auto;

				.title {
					width: 120px;
					float: left;
					text-align: right;
					font-weight: bolder;
				}

				ul {
					width: 500px;
					float: right;
					margin: 0;
					border-left: 2px solid #cccccc;
					color: #585858;

					li {
						line-height: 18px;
						margin-bottom: 5px;
						position: relative;

						.subInfo {
							font-style: italic;
							padding-left: 20px;
						}

						a {
							color: #1F96CE;
						}

						.right {
							position: absolute;
							right: 70px;
						}
					}
				}
			}
		}
	}
}

#autobiography {
	background: url(../images/dot.png) repeat top left;
	height: 1050px;

	.articleWrap .article {
		height: 820px;

		p {
			color: #585858;
			letter-spacing: 0.06em;

			.bold {
				font-weight: bolder;
				font-size: 18px;
				line-height: 26px;
				color: #000000;
			}

			.baseline {
				text-decoration: underline;
				color: #000000;
			}
		}

		table {
			margin: 0 auto;
			border: 1px solid #b2b2b2;
			margin-bottom: 30px;

			th, td {
				text-align: center;
				padding: 4px 6px;
				border: 1px solid #b2b2b2;
			}

			th {
				background-color: #cccccc;
			}
		}	
	}
}

#product {
	background-color: #5c5c5c;
	height: 100%;

	.pdf {
		position: absolute;
		top: 70px;
		width: 100%;

		.pdfWrap {
			width: 1200px;
			overflow: hidden;
			margin: 10px auto;

			#readerreader {
				width: 1400px;
			}		
		}
	}
}

#UX {
	background-color: #50A7B8;
	min-height: 800px;

	.explain {
		position: absolute;
		top: 100px;
		width: 100%;

		.explainWrap {
			width: 900px;
			margin: 0 auto;

			.card {
				background-color: #ffffff;
				width: 800px;
				height: 220px;
				margin: 10px auto;

				a {
					display: inline-block;
					height: 220px;
					overflow: hidden;

					img { float: left;}

					.short { 
						float: right;
						width: 300px;
						padding: 15px 20px;

						h3 {
							font-family: 'Expletus Sans', cursive;
							color: #000000;
							margin: 25px 0 15px;
						}

						p {
							line-height: 20px;
							color: #838383;
							font-size: 12px;
							margin: 8px 0;

							span {
								color: blue;
								padding-left: 5px;
							}
						}
					}
				}

				&:hover {
					@include shadow(6px, 6px, 4px, 0, rgba(16, 80, 122, 0.6));
				}
			}

			.small {
				height: 182px;
			}
		}
	}
}

#contact {
	background: url(../images/contact_bg.jpg) no-repeat fixed top left;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;

	.about {
		position: absolute;
		left: 200px;
		top: 160px;
		background-color: rgba(255, 255, 255, 0.4);
		@include radius(15px);
		padding: 25px 20px;

		li {
			line-height: 20px;
			margin: 4px 0;
			color: #868686;
			text-align: center;
			font-size: 14px;
			font-family: 'Numans', Arial, sans-serif;

			a {
				color: #1F85BD;

				&:hover {
					color: #ffffff;

					span {
						text-decoration: underline;	
					}
				}
			}
		}

		.name {
			font-family: 'Antic Didone', serif;
			font-size: 30px;
			padding: 5px 0 25px;
		}
	}

	p {
		position: absolute;
		top: 200px;
		right: 150px;
		font-family: "新細明體", "PMingLiU", sans-serif;
		font-size: 18px;
		color: #ffffff;
		line-height: 24px;
		overflow: hidden;

		.me {
			display: inline-block;
			float: left;
			width: 100px;
			height: 100px;
			background: url(../images/me.png) no-repeat;
			margin: 5px 15px 0 0; 
		}

		.shadow {
			float: left;
			margin-top: 20px;
			text-shadow: 2px 2px 10px #000000;
			filter:shadow(#000000, 2px, 10px);

			.big {
				font-size: 50px;
				font-family: 'Cinzel', Georgia, Cambria, "Times New Roman", Times,serif;
			}
		}
	}	
}